

<!--HEADER-->
<div id="home">
    <ul id="cbp-bislideshow" class="cbp-bislideshow">
        <li><img src="/Content/images/1.jpg" alt="image01" /></li>
        <li><img src="/Content/images/3.jpg" alt="image03" /></li>
    </ul>
    <div class="container">
        <div class="header animated tada">
            <h1>Jason & Sarah</h1>
            <h4>EVLENIYOR</h4>
            <hr />
            <h4>Pazar, 24 Mayıs 2015 ... Düğün Salonu, İlçe adı</h4>
            <div class="header-button">
                <a href="#form">Bizimle Kutlayın!</a>
            </div>
        </div>
    </div>
</div><!--end #home-->
<!--END HEADER-->