
<!--WEDDING-->
<div id="wedding">
    <div class="container">

        <div id="ceremony">
            <h3>The Wedding Ceremony</h3>
            <div class="heart content-style"></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="ceremony-data">
                        <h4>Tarih:</h4> <p>24th of May 2015</p>
                    </div>
                </div><!--end col-md-4-->
                <div class="col-md-4">
                    <div class="ceremony-data">
                        <h4>Saat:</h4> <p>4:00 in the afternoon</p>
                    </div>
                </div><!--end col-md-4-->
                <div class="col-md-4">
                    <div class="ceremony-data">
                        <h4>Konum:</h4> <p>Church "St. Patrick", Vama Veche</p>
                    </div>
                </div><!--end col-md-4-->
            </div><!--end row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="ceremony-text">
                        <p>Cursus risus, incidunt felis condimentum eget. Curabitur convallis ultricies tristique. Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien hendrerit, lobortis dolor mattis, pretium tellus. Mauris ultricies aliquet leo bibendum elementum. Fusce et auctor ipsum. Nunc nec consequat sapien. Nunc imperdiet turpis justo, vel viverra velit sollicitudin a. Morbi non sapien sit amet orci eleifend. Praesent porta, justo quis blandit iaculis, nibh sapien volutpat justo, non fringilla mi tellus at nisl. Nullam eleifend vestibulum iaculis. Nullam velit urna, dapibus sed varius sit amet, venenatis sed ligula. Nam vulputate mi ut lorem lobortis, ac elementum risus dictum. Maecenas fermentum ornare ante, vel congue turpis venenatis in. Quisque quis enim sagittis, commodo sapien vel, interdum nunc. Vivamus nec ultrices risus. Vestibulum congue, diam id volutpat consectetur, dui ligula tincidunt nisi.</p>
                    </div>
                </div><!--end col-md-6-->
                <div class="col-md-6">
                    <!-- Slideshow -->
                    <div class="rslides_container">
                        <ul class="rslides" id="slider">
                            <li><img src="/Content/images/ceremony1.jpg" alt=""></li>
                            <li><img src="/Content/images/ceremony2.jpg" alt=""></li>
                            <li><img src="/Content/images/ceremony3.jpg" alt=""></li>
                        </ul>
                    </div>
                </div><!--end col-md-6-->
            </div><!--end row-->
        </div><!--end #ceremony-->


    </div><!--end container-->
</div><!--end #wedding-->
<!--END WEDDING-->